[core]
	pager = lv -c
  editor = vim -c \"set fenc=utf-8\"
  excludesfile = /fractal/home/n-murayama/.gitignore
[user]
#	name = Norichika.Murayama
#	email = mura869@gmail.com
  name = murayama
  email = murayama@logiclogic.jp
[color]
	ui = auto

#[diff]
#  external = git_diff_wrapper
#[pager]
#  diff =
[alias]
	graph = log --graph --all --pretty=format:'%Cgreen%h%Creset %cn %s %Cred%d%Creset'
	co = checkout
	br = branch
	ci = commit
	st = status
  logp = log -p
  logs = log --stat
  logone = log --pretty=oneline
[i18n]
  commitencoding = utf-8
  logoutputencoding = utf-8
[http]
  sslVerify = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
