[core]
  pager = lv -c
  editor = nvim -c \"set fenc=utf-8\"
  attributesfile = ~/.gitattributes_global
[user]
	name = murayama
	email = murayama@logiclogic.jp
[color]
  ui = auto
[pager]
  # log = diff-highlight | less
  # show = diff-highlight | less
  # diff = diff-highlight | less

#[diff]
#  external = git_diff_wrapper
#[pager]
#  diff =
[alias]
  graph = log --graph --all --pretty=format:'%Cgreen%h%Creset %cn %s %Cred%d%Creset'
  co = checkout
  br = branch -v
  sb = show-branch
  ci = commit --allow-empty
  cia = commit --amend
  s = status
  st = !git status -s -b && echo --- branch && git branch -v && echo --- stash && git stash list | cat
  logp = log -p
  logs = log --stat
  logone = log --decorate --pretty=oneline
  f = flow
  stash = stash -u -k
  stashpop = stash pop --index
  remotes = remote -v
  newbrunch = checkout -b
  delbrunch = branch -d
  pruneremote = remote prune
  ag = !git ls-files | xargs ag
  fetchp = fetch -p
[i18n]
  commitencoding = utf-8
  logoutputencoding = utf-8
[http]
  sslVerify = true
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[diff]
  tool = nvimdiff
  algorithm = histogram
[merge]
  tool = nvimdiff2
  conflictstyle = diff3
  ; ff = false
; [pull]
; 	rebase = true
[ghq]
  root = ~/src
  # root = ~/.go/src
[push]
  default = matching
